/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
/* line 6, sass/nouislider.scss */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box; }

/* line 18, sass/nouislider.scss */
.noUi-target {
  position: relative;
  direction: ltr; }

/* line 22, sass/nouislider.scss */
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */ }

/* line 28, sass/nouislider.scss */
.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

/* line 35, sass/nouislider.scss */
.noUi-origin {
  position: absolute;
  height: 0;
  width: 0; }

/* line 40, sass/nouislider.scss */
.noUi-handle {
  position: relative;
  z-index: 1; }

/* line 44, sass/nouislider.scss */
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s; }

/* line 49, sass/nouislider.scss */
.noUi-state-drag * {
  cursor: inherit !important; }

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
/* line 56, sass/nouislider.scss */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Slider size and handle placement;
 */
/* line 64, sass/nouislider.scss */
.noUi-horizontal {
  height: 18px; }

/* line 67, sass/nouislider.scss */
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px; }

/* line 73, sass/nouislider.scss */
.noUi-vertical {
  width: 18px; }

/* line 76, sass/nouislider.scss */
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px; }

/* Styling;
 */
/* line 85, sass/nouislider.scss */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB; }

/* line 91, sass/nouislider.scss */
.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms; }

/* Handles and cursors;
 */
/* line 100, sass/nouislider.scss */
.noUi-draggable {
  cursor: w-resize; }

/* line 103, sass/nouislider.scss */
.noUi-vertical .noUi-draggable {
  cursor: n-resize; }

/* line 106, sass/nouislider.scss */
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF,
 inset 0 1px 7px #EBEBEB,
 0 3px 6px -3px #BBB; }

/* line 115, sass/nouislider.scss */
.noUi-active {
  box-shadow: inset 0 0 1px #FFF,
 inset 0 1px 7px #DDD,
 0 3px 6px -3px #BBB; }

/* Handle stripes;
 */
/* line 123, sass/nouislider.scss */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px; }

/* line 134, sass/nouislider.scss */
.noUi-handle:after {
  left: 17px; }

/* line 137, sass/nouislider.scss */
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

/* line 144, sass/nouislider.scss */
.noUi-vertical .noUi-handle:after {
  top: 17px; }

/* Disabled state;
 */
/* line 151, sass/nouislider.scss */
[disabled] .noUi-connect {
  background: #B8B8B8; }

/* line 154, sass/nouislider.scss */
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed; }
