@import 'foundation';
@import 'was';

$body-color:#f2f2f2;


$white: #ffffff;
$black: #333;
$blue:#479fc7;
$gray:#9f9f9f;
$light-blue:#b9dbf1;
$light-blue-extra:#879ba6;
$blue-news:#40525a;
$light-gray:#e3e4e6;
$blue-side:#33434b;
$green:#76cfcd;
$blue-label: #4072b2;

$link-hover: #00c0ce;
$card-bg: #26414b;


$sm: 548px;
$md: 1024px;
$lg: 1140px;

$font-stack-sans: 'Open Sans',sans-serif;
$font-stack-roboto: 'Roboto Condensed', sans-serif;

a{
	color: $blue-side;
}
p{
	margin-top: 0;
	margin-bottom: 1.2em;
}
img{
	max-width: 100%;
	height: auto;
}
.margin-bottom{
	margin-bottom: 1em;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
table{
	thead th{
	background: $card-bg;
    color: #fff;
    white-space: nowrap;
    padding: 6px 10px;
    font-weight: normal;
	}
	tbody td{
		padding: 6px 10px;
		font-size: 14px;
	}
}
.text-center{
	text-align: center;
	&.upper-text{
		border-bottom: 1px solid $light-blue;
		margin-top: 2em;
	}
}
.border-bottom{
	margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $gray;
}
.upper-text{
	text-transform: uppercase;
}
.title.title-to-top{
	width: auto;
}
.skew-left{
	transform: skew(15deg);
}
.levels{
	float: none;
}
.levels_bottom{
	display: flex;
	margin: 15px 0;
	flex-wrap: wrap;
	&>a{
		width: 19%;
		margin: 0.5%;
		text-align: center;
		padding: 6px;
		border: 1px solid transparent;
		border-radius: 4px;
		transition: color,border 0.2s ease;
		.section-name{
			display: block;
			margin-top: 8px;
			line-height: 1.2;
		}
		&:hover{
			border-color: $gray;
			color: $link-hover;
		}
	}
}
.catalog-product-item{
	margin-bottom: 20px;
	&.groupped{
	  .catalog-product-item__img{
  	  margin-top: 20px;
    }
	}
	.prices{
		width: auto;
		padding: 5px 30px;
		white-space: nowrap;
	}
	.check-order{
		white-space: nowrap;
		&.outofstock{
			background: $gray !important;
			&:before,&:after{
				background: $gray !important;
			}
		}
		&.intheshop{
			background: $green !important;
			&:before, &:after{
				background: $green !important;
			}
		}
		&.inthesclad{
			
		}
	}
	.sizes-product{
		width: 100%;
		padding-left: 15px;
	}
	.size-check{
		width: auto;
	}
}
.max-price.range-l{
	position: relative;
	left: -4px;
}
.catalog-product-item .catalog-product-item__size .size-name{
	text-align: right;
	padding: 0;
	.size-name_link{
		padding: 6px 30px 6px 15px;
		display: inline-block;
		transition: all 0.2s ease;
		&:hover{
			color: $link-hover;
		}
	}
}
.section-description{
	padding: 20px;
    background: rgba($blue, 0.1);
    margin-bottom: 30px;
    position: relative;
    max-height: none;
    overflow: hidden;
    .over{
    position: absolute;
    display: none;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    cursor: pointer;
    color: $blue;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 60%, #ffffff 100%);
    }
    &.fadeover{
	    max-height: 120px;
	    .over{
		    display: block;
	    }
    }
}
.more{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 3.5px 0 3.5px;
	border-color: #ffffff transparent transparent transparent;
	position: absolute;
	top: 8px;
	right: 5px;
}
.catalog-product-item__size{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	.cart-check{
		width: auto;
	}
}
.fa.fa-shopping-cart{
	font-size: 45px;
	color: rgb(89, 106, 114);
	vertical-align: middle;
}
.side-menu {
	padding-top: 0;
	background-image: url('/bitrix/templates/star/images/header-gradient.png');
	.switch-menu{
		width: 100%;
		border: 1px solid $card-bg;
		border-bottom: none;
		text-transform: uppercase;
		overflow: hidden;
		height: 40px;
		position: relative;
		.skew-left{
			transform: skew(15deg);
			color: $card-bg;
			background: #fff;
			position: absolute;
			z-index: 2;
			width: 55%;
			right: -3%;
			padding: 7px 0;
			&>div{
				transform: skew(-15deg);
			}
			&.active{
				color: #fff;
				background: transparent;
				z-index: 7;
			}
		}
		.skew-right{
			transform: skew(-15deg);
			color: $card-bg;
			background: #fff;
			position: absolute;
			z-index: 2;
			width: 55%;
			left: -3%;
			padding: 7px 0;
			&>div{
				transform: skew(15deg);
			}
			&.active{
				color: #fff;
				background: transparent;
				z-index: 7;
			}
		}
	}
	.side-menu-items{
// 		background: $card-bg;
		&>ul>li.active{
			&>ul{
			display: block;
			}
		}
		a{
			color: rgba(#fff, 0.95);
		}
		.submenu_catalog{
			padding-left: 12px;
			li{
				line-height: 1.2;
			}
			&>li>ul{
				padding-left: 12px;
				font-size: smaller;
			}
		}
		li.opener{
			z-index: 10;
		}
	/* 	li.opener:after,li.sub-opener:after, */ .li-expand{
		    background-image: url(../images/add.png);
		    background-repeat: no-repeat;
		    background-size: contain;
		    content: "";
		    display: inline-block;
		    width: 20px;
		    height: 20px;
		    vertical-align: middle;
		    z-index: 101;
		    cursor: pointer;
		    position: absolute;
		    top: 14px;
		    right: 20px;
		    opacity: 0.7;
		    transition: all 0.1s ease-in;
		    &:hover{
			    opacity: 1;
		    }
		}
		li.active>.li-expand,li.sub-opener.active>.li-expand{
			background-image: url(../images/remove.png);
		}
		li.sub-opener{
			&>ul{
				margin: 6px 0;
			}
			ul a{
				font-size: 14px !important;
			}
			.li-expand{
				top: 8px;
				width: 14px;
				height: 14px;
			}
		}
		.sub-opener.active{
			&>ul{
				display: block;
			}
		}
		.left-brands{
  		padding-left: 40px !important;
			&>li{
				&>a{
					padding: 5px 0;
				}
			}
		}
	}
}
.dark-card{
	 padding: 20px;
	 background: $card-bg;
	 color: rgba(255, 255, 255, 0.8);
}
.map-wrapper{
	position: relative;
	margin-bottom: 2em;
	.card{
		max-width: 300px;
	    padding: 20px;
	    background: $card-bg;
	    color: rgba(255, 255, 255, 0.8);
	    box-shadow: -2px 3px 16px rgba(0, 0, 0, 0.7);
	    position: absolute;
	    top: 30px;
	    right: 5%;
	    width: 32%;
	    padding-bottom: 40px;
	    margin-bottom: 40px;
	    a{
		    color: #fff;
	    }
	}
}
.big-phone{
	font-size: 30px;
	color: #fff;
	margin-bottom: 20px;
	a{
		text-decoration: none;
	}
}
.btn-main{
	border: none;
	padding: 8px 14px;
	background: url(/bitrix/templates/star/images/menu.png) center;
	cursor: pointer;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	box-shadow: 1px 2px 0 darken($blue, 10%);
	transition: all 0.1s cubic-bezier(0.65, 0.05, 0.36, 1);
	&:hover{
		transform: translate3d(1px, 1px, 0);
		box-shadow: none;
	}
}
.btn-lrg{
	padding: 0.6em 4em;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.2 !important;
}
.btn-wide{
	border: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    left: 0;
    color: rgba(255, 255, 255, 0.85);
    padding: 8px;
	background: url(/bitrix/templates/star/images/menu.png) center;
	color: #fff;
}
.title a:hover{
	color: $link-hover;
}
.extra.cart-check:hover{
	&:before{
		background: $link-hover;
		transition: all 0.2s ease;
	}
}
.catalog-product-item .extra {
	background: $blue-side;
		a:not(.catalog-item-in-the-cart):hover {
		background: $link-hover;
		transition: all 0.2s ease;
		&:before{
			background: $link-hover;
			transition: all 0.2s ease;
		}
	}
}
.add-cart{
	&>a:not(.disabled):hover{
		background: $link-hover !important;
		transition: all 0.2s ease;
		text-decoration: none !important;
		&:before{
			background: $link-hover !important;
			transition: all 0.2s ease;
		}
	}
}
.contacts{
  i{
    background: $blue;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    color: $black;
  }
  &.contacts-block{
    i{
      margin-right: 10px;
    }
  }
}
.about-us {
	.about-us__companies{
		width: 90%;
		margin: auto;
		.slick-prev:before{
			position: absolute;
			left: -70px;
			top: -15px;
		}
		.slick-next:before{
			position: absolute;
			top: -15px;
			right: -70px;
		}
	}
	.about-us__desc{
		margin-top: 30px;
	}
}
#vk_like{
	display: inline-block;
}
.product-description__text{
	padding-bottom: 40px;
}
.products-list{
	display: flex;
    flex-wrap: wrap;
    &>.product-item{
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	    background: #fff;
		justify-content: space-between;
	    width: 32%;
	    margin-right: 1%;
	    margin-bottom: 20px;
	    max-width: none;
	    .product-item__desc{
		    max-height: 70px;
		    display: flex;
			align-items: center;
			flex-wrap: wrap;
			.prices{
				width: 60%;
			}
			.extra{
				margin-top: auto;
				width: 40%;
				&>a{
					width: 100%;
					transition: all 0.2s ease;
					&:before{
						content: '';
					    display: inline-block;
					    width: 17px;
					    height: 100%;
					    position: absolute;
					    top: 0;
					    left: -12px;
					    background: $blue-side;
					    transform: skew(-15deg);
					    transition: all 0.2s ease;
					}
					&:hover{
						background: $link-hover;
						text-decoration: none;
						&:before{
							background: $link-hover;
						}
					}
				}
			}
	    }
    }
}
.news{
	background: transparent;
	border-bottom: 1px solid rgba(#fff,0.4);
	.slick-track{
		display: flex;
	}
	.news-items{
		color: #fff;
		.news-item{
			color: #fff;
			background: rgba(#fff,0.1);
		}
	}
	.title a{
		color: rgba(#fff, 0.8);
		&:hover{
			color: #fff;
		}
	}
}
.first-section-h{
	text-align: center;
	text-transform: uppercase;
}
.first-sections{
	display: flex;
	flex-wrap: wrap;
	
	h2{
		text-align: center;
	}
	.section{
		width: 31%;
		margin: 1%;
		padding: 10px;
		text-align: center;
		border: 1px solid $gray;
		&>h3{
			margin-top: 0;
			a{
				padding: 4px;
				display: block;
				border-bottom: 1px solid $gray;
				text-decoration: none;
				&:hover{
					border-color: $link-hover;
					color: $link-hover;
					transition: all 0.2s ease;
				}
			}
		}
	}
	.category-list{
		list-style-type: none;
		padding: 0;
		margin: 15px 5px;
		&>li{
			display: inline-block;
			a{
			padding: 4px;
			font-size: smaller;
			transition: all 0.2s ease;
			&:hover{
				color: $link-hover;
			}
			}
		}
	}
}
input{
	padding: 4px 12px;
}
#feedback{
	display: none;
	.feedback{
		background: none;
		width: auto;
		h3{
			background: rgba($light-blue, 0.3);
			color: $black;
		}
		label{
			display: block;
			color: $gray;
		}
		.input_fb{
			margin-bottom: 1em;
		}
		textarea{
			width: 100%;
		}
		.textarea_fb{
			margin-bottom: 1em;
		}
		.submit2{
			text-align: center;
			input{
				background: url(/bitrix/templates/star/images/menu.png) center;
				color: #fff;
				margin: 0.6em 0;
				padding: 0.4em 1.4em;
			}
		}
	}
}
.delivery-options{
  .row{
    padding: 1em 10px;
    border: 1px solid transparent;
    &.active{
      border: 1px solid $blue;
      background:  rgba($blue, 0.1);
    }
  }
}
div.bx_ordercart_order_pay_center .backtobasket{
    font-size: 12px;
    text-shadow: none;
    font-weight: normal;
    top: 0;
    text-transform: uppercase;
}
div.modern-page-navigation {
    padding: 1.5em 0 !important;
    text-align: center;
}
.modern-page-pagen{
  width: auto !important;
}
.sort-section{
	padding: 0;
	a{
		font-size: 12px;
		display: inline-block;
		margin: 0 6px;
		margin-top: 16px;
	}
	.input-group__title{
  	float: left;
	}
}
.bx-filter-popup-result{
    position: absolute;
    top: -1px;
    display: inline-block;
    background: $blue;
    padding: 4px;
    border-radius: 0 4px;
    right: -1px;
    color: #fff;
    text-align: center;
    a{
      color: #fff;
    }
}
.delivery-cell {
    max-width: 300px;
    padding: 10px;
    border: 1px solid $gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    img{
      margin-bottom: 10px;
    }
}
.product-card--left-block{
  .add-cart{
    &>a{
      width: 100%;
      text-align: center;  
    }
  }
}
.tabs{
	padding: 1em 0 1em 10px;
	background: transparent;
	border-bottom: none;
	border-color: $gray;
	.tabs-title{
		transform: skew(-15deg);
		margin-bottom: 5px;
		&>a{
			padding: 8px 16px;
			background: none;
			text-decoration: none;
			text-transform: uppercase;
			color: $card-bg;
			transform: skew(15deg);
			&[aria-selected='true'],&:focus{
				background: none;
			}
		}
		&.is-active{
			background: $card-bg;
			&>a{
				color: #fff;
			}
		}
	}
}
.tabs-content{
	border-color: $gray;
	.tabs-panel{
		padding-left: 0;
		padding-right: 0;
	}
}
.masterskaya{
	font-size: 0.9em;
	h2{
		color: #fff;
		text-align: center;
		margin-top: 0;
	}
}
.visa-master{
	display: block;
    width: 100px;
    margin-left: 10px;
}
.logo{
	.logo__desc{
		display: block;
		margin-top: -20px;
		max-width: none;
		a{
			text-transform: uppercase;
			color: #fff;
			font-size: 10px;
		}
	}
}
.search-block{
	width: auto;
	order: 0;
	display: block;
	input{
		margin-bottom: 0;
	}
}
.card-block{
	display: block;
}
.all-contacts{
	display: block;
	.cont-1{
		padding-left: 0;
	}
	.cont-2{
	}
}
.main-header{
	padding-bottom: 40px;
	.main-menu{
		top: auto;
		bottom: -30px;
		overflow: hidden;
		background: none;
		&>ul{
			display: inline-block;
			background: transparent;
			transform: skew(-15deg);
			&>li{
  			transform: skew(15deg);
			}
		}
	}
}
#basket_form{
	.bx_ordercart .bx_ordercart_order_pay_center{
		text-align: center;
	}
	.basket_quantity_control{
	vertical-align: middle;
		a{
		height: 14px;
		width: 14px;
		}
	}
}
#basket_items{
	.itemphoto{
		min-width: 100px;
	}
	.item{
		width: auto;
		max-width: 50%;
		white-space: initial;
	}
}
.sale-total{
	background: rgba($light-blue, 0.15);
	padding: 20px;
	text-align: center;
	#allSum_FORMATED{
		font-size: 1.5em;
		color: $blue;
	}
}
#order_form_div{
	.bx_order_make,.bx_description{
		font-size: 16px;
	}	
}
.bx_order_make .bx_block.r3x1 label{
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}
.delivery-img{
	text-align: center;
}
.product-card{
}
.blue-bg{
	background: $blue;
	color: #fff;
}
.space-between{
	justify-content: space-between;
}
.address-line{
	padding: 10px;
	width: 100%;
}
.manafacture--desc{
    color: #333;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    text-align: right;
	font-size: 14px;
	font-style: italic;
	line-height: 1.2;
}
.feedback .feedback-item.feedback-item--left,.feedback .feedback-item.feedback-item--right {
	&:hover{
		background: $blue;
		&:before{
			background: $blue;
		}
	}
}
.bx_section{
	div[onclick]{
		cursor: pointer;
	}
}

@media screen and (max-width: $md) {
  .logo{
    .logo__desc{
      text-align: center;
    }
  }
	.first-sections{
		flex-direction: column;
		.section{
			width: 100%;
		}
	}
}

@media screen and (max-width: $sm) {
  .logo__img{
    img{
      height: 80px;
    }
  }
  .main-header{
    .search-block{
      margin-top: 1em;
    }
  }
	.catalog-product-item__size{
		display: block;
		margin-top: 0;
	}
	.catalog-product-item{
		.sizes-product{
			padding-top: 0;
			padding-left: 0;
		}
		.catalog-product-item__size{
  		display: flex;
  		flex-wrap: wrap;
  		justify-content: space-between;
  		.size-name{
  			text-align: left;
  			display: block;
  			width: auto;
  			width: 50%;
  			order: 0;
      }
      .size-check{
        order: 2;
        margin-bottom: 10px;
      }
      .prices{
        width: 50%;
        order: 1;
        padding-right: 0;
        text-align: right;
      }
      .cart-check{
        order: 4;
        &>a{
          padding: 2px 12px;
        }
      }
		}
		.extra.cart-check{
			margin-top: 0;
			margin-bottom: 6px;
		}
	}
	.products-list>.product-item{
		width: 100%;	
	}
	.levels_bottom> a{
		width: 50%;
		margin: 0;
	}
	.map-wrapper{
		ymaps{
			max-width: 80%;
		}
		.card{
			position: static;
			width: auto;
		}
	}
}


@media screen and (min-width: $lg){
	.mate{
    transform: skew(65deg);
    position: absolute;
    overflow: hidden;
    width: 18%;
    left: -3%;
    height: 50%;
    bottom: 0;
    .white-bg{
        transform: skew(-65deg);
        height: 100%;
        width: 120%;
        background: url(/bitrix/templates/star/images/bg-pattern.jpg);
      }
    &.reverse{
      right: -6%;
      left: auto;
      bottom: 0;
      top: 0;
      background: url(/bitrix/templates/star/images/header-gradient.png);
    }
  }
}