.feedback {
    background: #dfd1c8;
    margin: 0 20px;
    width: 720px;
    overflow: hidden;
}
.feedback h3{
    padding: 15px;
    background: #e5e1de;
    text-align: center;
    color: #694A3D;
}
.feedback .submit2 input{
	font-size: 16px;
	color: #60534b;
	text-decoration: none;
	text-transform:uppercase;
	background: url(/i/buy_bg.png) 0 0 repeat-x;
	border: 1px solid #fff;
	padding: 3px 15px 2px 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius:  4px;
	border-radius:  4px;
	cursor:pointer;
}