/* line 1, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.fromTopIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1.0; }

/* line 9, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.fromTopOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  opacity: 0.0; }

/* line 17, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.fromBottomIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1.0; }

/* line 25, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.fromBottomOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  opacity: 0.0; }

/* line 33, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.fromLeftIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1.0; }

/* line 41, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.fromLeftOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(-10px, 0);
          transform: translate(-10px, 0);
  opacity: 0.0; }

/* line 49, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.fromRightIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1.0; }

/* line 57, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.fromRightOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
  opacity: 0.0; }

/* line 65, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.scaleUpIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1.0; }

/* line 73, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.scaleUpOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  opacity: 0.0; }

/* line 81, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.scaleDownIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1.0; }

/* line 89, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.scaleDownOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease;
  transition: transform 1.0s ease, opacity 1.0s ease, -webkit-transform 1.0s ease;
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
  opacity: 0.0; }

/* line 97, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.fromRightCustomIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 3.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 3.0s ease;
  transition: transform 3.0s ease, opacity 1.0s ease;
  transition: transform 3.0s ease, opacity 1.0s ease, -webkit-transform 3.0s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1.0; }

/* line 105, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.fromRightCustomOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 3.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 3.0s ease;
  transition: transform 3.0s ease, opacity 1.0s ease;
  transition: transform 3.0s ease, opacity 1.0s ease, -webkit-transform 3.0s ease;
  -webkit-transform: translate(40px, 40px);
          transform: translate(40px, 40px);
  opacity: 0.0; }

/* line 113, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.fromLeftCustomIn {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 3.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 3.0s ease;
  transition: transform 3.0s ease, opacity 1.0s ease;
  transition: transform 3.0s ease, opacity 1.0s ease, -webkit-transform 3.0s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1.0; }

/* line 121, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/animations.scss */
.fromLeftCustomOut {
  -webkit-transition: opacity 1.0s ease, -webkit-transform 3.0s ease;
  transition: opacity 1.0s ease, -webkit-transform 3.0s ease;
  transition: transform 3.0s ease, opacity 1.0s ease;
  transition: transform 3.0s ease, opacity 1.0s ease, -webkit-transform 3.0s ease;
  -webkit-transform: translate(-40px, -40px);
          transform: translate(-40px, -40px);
  opacity: 0.0; }
