/* line 1, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/clearfix.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  height: 0;
  font-size: 0;
  clear: both; }

/* line 10, C:/Users/Amadreh/Desktop/Workflow/cycle/sass/clearfix.scss */
* {
  box-sizing: border-box; }
